body {
    background: lightgray;
    font-family: 'Kalam', cursive;
}

.quiz {
    text-align: center;
    background: lightgray;
}

.container {
    margin: 8px auto;
    background: black;
    border-radius: 10px;
    box-shadow: 2px 4px 30px grey;
    padding: 16px 32px;
    width: 40%;
}

.question {
    text-align: center;
    font-weight: lighter;
    color: #fff;
}

.options {
    text-align: center;
}

.true,
.false{
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 4px;
}

.true:hover,
.false:hover{
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.true:disabled,
.false:disabled{
    cursor: not-allowed;
    background: darkgray;
    box-shadow: 0 6px grey;
}

.correct-answer,
.user-answer {
    text-align: center;
    color: green;
    display: block;
    margin-top: 16px;
}



/* Loading CSS */

@keyframes ldio-r9ouawwx6m8-1 {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(-45deg) }
    100% { transform: rotate(0deg) }
}
@keyframes ldio-r9ouawwx6m8-2 {
    0% { transform: rotate(180deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(180deg) }
}
.ldio-r9ouawwx6m8 > div:nth-child(2) {
    transform: translate(-15px,0);
}
.ldio-r9ouawwx6m8 > div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #f8b26a;
    animation: ldio-r9ouawwx6m8-1 1s linear infinite;
    transform-origin: 60px 60px
}
.ldio-r9ouawwx6m8 > div:nth-child(2) div:nth-child(2) {
    animation: ldio-r9ouawwx6m8-2 1s linear infinite
}
.ldio-r9ouawwx6m8 > div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
}@keyframes ldio-r9ouawwx6m8-3 {
     0% { transform: translate(190px,0); opacity: 0 }
     20% { opacity: 1 }
     100% { transform: translate(70px,0); opacity: 1 }
 }
.ldio-r9ouawwx6m8 > div:nth-child(1) {
    display: block;
}
.ldio-r9ouawwx6m8 > div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e15b64;
    animation: ldio-r9ouawwx6m8-3 1s linear infinite
}
.ldio-r9ouawwx6m8 > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-r9ouawwx6m8 > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-r9ouawwx6m8 > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-f3o7ywws5y {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: lightgray;
}
.ldio-r9ouawwx6m8 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-r9ouawwx6m8 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
