body {
    margin: 0;
    font-family:"Poppins", arial, sans-serif;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-30px)
    }
}


.chat-button {
    position: fixed;
    width: 380px;
    height: 50px;
    background: lightgreen;
    bottom: 0;
    right: 10px;
    transition: bottom 0.5s;
    border-radius:  10px 10px 0 0;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.chat-button:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.chat-area {
    height: 280px;
    width: 380px;
    background: green;
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.75s cubic-bezier(1, 0.06, 0, 1);
    overflow: scroll;
}

.input-area {
    position: absolute;
    width: 80%;
    padding: 8px;
    bottom: 0;
    background: #f1f1f1;
    resize: none;
    border: 2px solid black;
}

.send {
    position: absolute;
    width: 15%;
    height: 45px;
    padding: 8px;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    cursor: pointer;
}

.message {
    width: 50%;
    margin: 8px;
    padding: 8px;
    height: auto;
    border-radius: 10px;
}

.user-message {
    float: right;
    background: white;
}

.system-message {
    float: left;
    background: #9e9e9e;
}



/* Loading related CSS */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 60px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    border-radius: 45%;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    border-radius: 45%;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    border-radius: 45%;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 40px;
    }
    50%, 100% {
        top: 24px;
        height: 20px;
    }
}


